.pro{
    min-height: 110px;
    background-color: bisque;
    border-radius: 7px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.788);
    font-weight: bold;
    font-size: large;
}
.loaisp {
    height: 30px;
    /* background-color: ; */
}
.btn-search{
    height: 50px;
}
.masp{
    /* background-color: red; */

}
.image{
    /* background-color: antiquewhite; */
}
.name{
    /* background-color: brown; */
    justify-content: space-evenly;
}
.maloai{
    /* background-color: blueviolet; */
}
.img-pro{
    height: 100px;
    border-radius: 3px;
}
.row{
    /* background-color: bisque; */
}
.col-lg-1{
    /* width: max-content; */
}